<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__main">
      <h2 class="footer__main-title">JOIN THE CLUB</h2>
      <p class="footer__main-text">Subscribe for deals, and tips on mens skincare</p>
      <a href="" class="footer__logo">
        <img src="/assets/img/d1-logo.svg" alt="D1" class="image">
      </a>
    </div>
    <form class="footer__contact">
      <input class="footer__contact-field" type="email" placeholder="Enter your email">
      <div class="footer__contact-button">
        <input type="submit" class="button" value="SUBMIT">
      </div>
    </form>
    <div class="footer__socials flex-container">
      <div class="footer__socials-column">
        <img src="/assets/img/d1-logo.svg" alt="Instagram" class="image">
      </div>
      <div class="footer__socials-column">
        <img src="/assets/img/d1-logo.svg" alt="Tiktok" class="image">
      </div>
      <div class="footer__socials-column">
        <img src="/assets/img/d1-logo.svg" alt="Facebook" class="image">
      </div>
    </div>
  </div>
</footer>