<footer class="footer">
  <div class="container footer__wrapper">
    <div class="footer__main">
      <div class="footer__headings">
        <h2 class="footer__main-title">JOIN THE CLUB</h2>
        <p class="footer__main-text">Subscribe for deals, and tips on mens skincare</p>
      </div>
      <a href="" class="footer__logo">
        <img src="/assets/img/d1-logo-white.svg" alt="D1" class="image">
      </a>
    </div>
    <form class="footer__contact">
      <input class="footer__contact-field" type="email" placeholder="Enter your email">
      <div class="footer__contact-button">
        <input type="submit" class="button button--no-border" value="SUBMIT">
      </div>
    </form>
    <div class="footer__socials flex-container">
      <div class="footer__socials-column">
        <img src="/assets/img/icons/instagram.svg" alt="Instagram" class="image image--contain">
      </div>
      <div class="footer__socials-column">
        <img src="/assets/img/icons/tiktok.svg" alt="Tiktok" class="image image--contain">
      </div>
      <div class="footer__socials-column fb">
        <img src="/assets/img/icons/fb.svg" alt="Facebook" class="image image--contain">
      </div>
    </div>
    <div class="footer__end">
      <div class="footer__end-item">
        <div class="footer__links">
          <div class="footer__links-ctr">
            <span class="footer__links-title text-uppercase">Support</span>
            <div class="footer__links-block">
              <a href="/" class="footer__link">Support</a>
              <a href="/" class="footer__link">Contact</a>
              <a href="/" class="footer__link">FAQs</a>
              <a href="/" class="footer__link">Account</a>
              <a href="/" class="footer__link">Terms & Conditions</a>
              <a href="/" class="footer__link">Privacy Policy</a>
            </div>
          </div>
          <div class="footer__links-ctr">
            <span class="footer__links-title text-uppercase">Company</span>
            <div class="footer__links-block">
              <a href="/" class="footer__link">Company</a>
              <a href="/" class="footer__link">Shop</a>
              <a href="/" class="footer__link">Philosophy</a>
            </div>
          </div>
        </div>

        <span class="footer__copyright">@D1 2025 — site by manufactur</span>  
      </div>
      <div class="footer__end-item">
        <p class="footer__note">These statements have not been evaluated by the Food and Drug Administration. This product is not inteded to diagnose, treat, cure, or prevent any disease. Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</footer>