<header class="header">
  <div class="header__wrapper flex-container align-justify align-middle">
    <div class="header__main flex-container align-middle">
      <div class="header__menu-bar">
        <img src="/assets/img/icons/menu.svg" alt="" class="image image--contain">
      </div>
      <a href="#" class="header__logo">
        <img src="/assets/img/d1-logo.svg" alt="D1" class="image image--contain">
      </a>
    </div>

    <div class="header__ct flex-container align-middle">
      <a href="#" class="button header__ct-button hide-for-small-only">Get started</a>
      <a href="#" class="header__ct-cart">
        <img src="/assets/img/icons/cart.png" alt="Cart" class="image image--contain">
        <span class="header__ct-cart-num">1</span>
      </a>
    </div>
  </div>
</header>
